@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.cursor {
    position: fixed;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: rgb(114, 90, 255);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: multiply;
}

.container{
    width: 50vw;
    height: 100vh;
    padding: 1vw;
    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.header{
    flex: 1;
    border-radius: 2vw;

    display: flex;
    gap: 1vw;
}

.header-text-container{
    flex: 5;
    border-radius: 2vw;

    display: flex;
    justify-content: start;
    align-items: center;
}

.header-text{
    font-family: 'Roboto Mono';
    font-weight: bold;
    color: red;
    max-width: 100%;
    z-index: 0;
    mix-blend-mode: normal;
    font-size: 2vw;
}

.bento{
    max-height: 100vh;
    flex: 9;
    border-radius: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
}

.rowbuttons{
    display: flex;
    justify-content: space-between;
}

.button{
    font-family: 'Roboto Mono';
    color: red;
    font-size: 1.5vw;
}

.button:hover {
    color: white;
    background-color: red;
}

a {
    text-decoration: none;
    cursor: none;
}
